@font-face {
    font-family: "Sen";
    src: url('fonts/Sen-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sen";
    src: url('fonts/Sen-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  margin-block: 0;
}

img,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

[fill] { fill: currentColor }
[stroke] { stroke: currentColor }

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

 :root {
    --color-base: #000;
    --color-level1: #181823;
    --color-text: #8491a0;
    --color-dark-grey: #5B6876;
    --color-light: #fff;
    --color-primary: #5221e6;
    --color-green-accent: #3cc74e;
    --color-pink-accent: #e95d90;
    --color-peach-accent: #fff3e4;
    --color-violet-accent: #fbe4ff;

    --font-family: 'Sen', serif;

    --border: 1px solid var(--color-primary);

    --padding: 60px 72px;
    --padding-1024: 55px 50px;
    --padding-768: 45px 35px;
    --padding-480: 35px 25px;
    --padding-360: 30px 20px;
    --padding-inline: 72px;
    --padding-inline-1024: 50px;
    --padding-inline-768: 35px;
    --padding-inline-480: 25px;
    --padding-inline-360: 20px;

    --transition-duration: 0.2s;
 }

 body {
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 1.2;
    color: var(--color-text);
    background-color: var(--color-base);
 }

 .visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

 a,
 button,
 input,
 textarea {
  transition-duration: var(--transition-duration);
 }

 a {
    color: var(--color-light);
    text-decoration: none;
 }

 button {
  background-color: transparent;
  border: var(--border);
  color: var(--color-light);
  padding: 15px;
  text-transform: uppercase;
  font-weight: 700;
 }

 button:hover {
  background-color: var(--color-primary);
  color: var(--color-base);
 }

  h1, h2, h3, h4 {
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 20px;
    color: var(--color-light);
  }

  .container {
    padding: var(--padding);
  }

  @media (width < 1024px) {
    .container {
      padding: var(--padding-1024);
    }
  }

  @media (width < 768px) {
    .container {
      padding: var(--padding-768);
    }
  }

  @media (width < 480px) {
    .container {
      padding: var(--padding-480);
    }
  }

  @media (width < 360px) {
    .container {
      padding: var(--padding-360);
    }
  }

 .header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, var(--color-base), var(--color-base) 35vw, var(--color-level1) 35vw);
  padding-inline: var(--padding-inline);
  align-items: center;
 }

 .header-logo:hover {
  opacity: 0.6;
 }

 .header-menu-list {
  display: flex;
  flex-wrap: wrap;
 }

 .header-menu-link {
  padding: 30px;
  font-size: 16px;
 }

 .header-menu-link:hover {
  background-color: var(--color-primary);
  color: var(--color-base);
}

.about-author {
  display: flex;
  background: linear-gradient(to right, var(--color-base), var(--color-base) 35vw, var(--color-level1) 35vw);
  padding-bottom: 50px;
}

.about-author-body {
  display: flex;
  align-items: center;
}

.about-author-image {
  flex-shrink: 0;
  object-fit: cover;
}

.about-author-header {
  margin-left: -5em;
}

.about-author-header-biography {
  font-size: 78px;
}

.about-author-header-biography span {
  opacity: 0.5;
}

.about-author-header-description {
  line-height: 1.5;
}

.work-experience-header {
  color: var(--color-text);
  text-transform: uppercase;
  font-size: 16px;
}

.work-experience-companies {
  width: 47vw;
  margin-bottom: 60px;
}

.work-experience-list {
  display: flex;
  column-gap: 60px;
}

.number-of-company {
  margin-bottom: 15px;
}

.experience-in-company {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  color: var(--color-light);
}

.google {
  color: var(--color-green-accent);
}

.facebook {
  color: var(--color-primary);
}

.dribbble {
  color: var(--color-pink-accent);
}

.experience-description {
  font-size: 16px;
}

.philosophy {
  padding-left: var(--padding-inline);
  background-color: var(--color-peach-accent);
}

.philosophy-body {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.philosophy-header {
  color: var(--color-level1);
}

.philosophy-description {
  margin-bottom: 180px;
}

.philosophy-image {
  width: 50vw;
  object-fit: cover;
}

.skillset-body {
  display: flex;
  column-gap: 100px;
}

.skillset-text {
  width: 70vw;
}

.skillset-name-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 45px;
}

.skillset-image {
  margin-bottom: 20px;
}

.skillset-name-header {
  font-size: 24px;
}

.skillset-name-description {
  font-size: 16px;
}

.companies-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  scroll-snap-type: x mandatory;
  overflow-x: auto;
}

.company-link {
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-level1);
  width: 23vw;
  height: 140px;
}

.company-link:hover {
  border: var(--border);
}

.my-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
}

.my-projects-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
}

.my-projects-header {
  margin-bottom: 70px;
}

.my-projects-image-wrapper {
  width: 44vw;
  margin-bottom: 25px;
  background-color: var(--color-level1);
}

.my-projects-image {
  width: 44vw;
  height: auto;
}

.my-projects-figcaption {
  padding: 25px;
}

.my-projects-figcaption-header h3 {
  font-size: 24px;
}

.all-projects-wrapper {
  display: flex;
  justify-content: center;
  height: 25vh; 
}

.all-projects-link {
  text-transform: uppercase;
  border: var(--border);
  font-weight: 700;
  padding: 30px;
  align-self: center;
}

.all-projects-link:hover {
  color: var(--color-base);
  background-color: var(--color-primary);
}

.instagram {
  padding-left: var(--padding-inline);
  background-color: var(--color-violet-accent);
}

.instagram-body {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.instagram-header {
  color: var(--color-level1);
}

.instagram-description {
  margin-bottom: 180px;
}

.instagram-image {
  width: 50vw;
  object-fit: cover;
}

.dribbble-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 10vw;
}

.dribbble-text {
  align-self: start;
  width: 40vw;
}

.dribbble-description {
  margin-bottom: 30px;
}

.dribbble-link {
  margin-bottom: 90px;
}

.dribbble-image {
  height: auto;
}

.people-say-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
}

.people-say-description {
  margin-bottom: 30px;
}

.people-say-picture {
  object-fit: cover;
  width: 100%;
}

.people-say-figure {
  padding-bottom: 80px;
}

.people-say-figcaption {
  padding: 40px;
  border: 1px solid var(--color-text);
}

.people-say-quote {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-light);
}

.people-say-footer {
  padding-top: 50px;
  color: var(--color-dark-grey);
}

.people-say-author {
  font-style: normal;
  font-weight: 700;
}

.people-say-job-title {
  font-weight: 400;
  padding-top: 10px;
}

.more-about-me-link,
.follow-me-on-ig-link,
.dribbble-link,
.people-say-link {
  position: relative;
  font-size: 16px;
  box-shadow: 0px 1px var(--color-text);
  z-index: 1;
  padding: 5px;
}

.more-about-me-link,
.follow-me-on-ig-link {
  color: var(--color-level1);
}

.more-about-me-link:hover {
  color: var(--color-peach-accent);
}

.follow-me-on-ig-link:hover {
  color: var(--color-violet-accent);
}

.dribbble-link:hover,
.people-say-link:hover {
  color: var(--color-base);
}

.more-about-me-link::after,
.follow-me-on-ig-link::after,
.dribbble-link::after,
.people-say-link::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  background-color: var(--color-text);
  transition-duration: var(--transition-duration);
}

.more-about-me-link:hover::after,
.follow-me-on-ig-link:hover::after,
.dribbble-link:hover::after,
.people-say-link:hover::after {
  height: 100%;
}

.photography-description {
  width: 40vw;
  margin-bottom: 50px;
}

.countries-list {
  display: flex;
  column-gap: 30px;
  margin-bottom: 30px;
}

.countries-image-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

.countries-image {
  width: 100%;
  object-fit: cover;
  transition-duration: var(--transition-duration);
}

.countries-image:hover {
  scale: 1.1;
}

.let-started-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  padding-inline: 10vw;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 16px;
}

.form label {
  color: var(--color-light);
}

.form-input {
  padding-block: 10px;
}

.form-textarea {
  resize: none;
  height: 100px;
}

.form-input,
.form-textarea {
  color: var(--color-light);
  background-color: var(--color-level1);
  border: 1px solid transparent;
  outline: 1px solid transparent;
  margin-bottom: 20px;
}

.form-input:hover,
.form-textarea:hover {
  border: var(--border);
}

.form-input:focus,
.form-textarea:focus {
  border: var(--border);
}

.footer {
  background-color: var(--color-level1);
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.soc1als-list {
  display: flex;
  column-gap: 15px;
}

.soc1als-link:hover {
  opacity: 0.6;
}

.footer-menu-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10vw;
  margin-right: 10vw;
  margin-bottom: 30px;
}

.footer-menu-link {
  position: relative;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-menu-link:hover {
  color: var(--color-primary);
}

.footer-menu-link::after {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 6px;
  width: 0;
  background-color: var(--color-primary);
  transition-duration: var(--transition-duration);
}

.footer-menu-link:hover::after {
  width: 90%;
}

.footer-copyright {
  font-size: 16px;
  width: 45vw;
}

@media (max-width: 1024px) {
  .header {
    padding-inline: var(--padding-inline);
  }

  .about-author-image {
    width: 63vw;
  }

  .about-author-header-biography {
    font-size: 64px;
  }

  .about-author-header-biography {
    margin-bottom: 15px;
  }

  .work-experience-header {
    margin-bottom: 40px;
  }

  .number-of-company {
    margin-bottom: 10px;
  }

  .philosophy {
    padding-left: var(--padding-inline-1024);
  }

  .philosophy-description {
    margin-bottom: 140px;
  }

  .skillset-body {
    column-gap: 60px;
  }

  .skillset-name-list {
    column-gap: 30px;
    row-gap: 30px;
  }

  .instagram {
    padding-left: var(--padding-inline-1024);
  }

  .instagram-description {
    margin-bottom: 140px;
  }

  .countries-image-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .countries-image {
    height: auto;
  }

  .let-started-wrapper {
    padding-inline: 0;
  }
}

@media (max-width: 768px) {
  .header {
    padding-inline: var(--padding-inline-768);
    background: none;
  }

  .about-author {
    background: none;
  }

  .about-author-image {
    width: 50vw;
    height: 650px;
  }

  .about-author-header-biography {
    font-size: 56px;
  }

  .philosophy {
    padding-left: var(--padding-inline-768);
  }

  .philosophy-description {
    margin-bottom: 80px;
  }

  .skillset-body {
    flex-direction: column;
    row-gap: 50px;
  }

  .skillset-text {
    max-width: 100vw;
  }

  .skillset-name-list {
    column-gap: 80px;
  }

  .companies-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .company-link {
    width: 50vw;
  }

  .my-projects {
    grid-template-columns: 1fr;
  }

  .my-projects-image-wrapper {
    width: 100%;
  }

  .my-projects-image {
    width: 100%;
  }

  .all-projects-wrapper {
    display: none;
  }

  .instagram {
    padding-left: var(--padding-inline-768);
  }

  .instagram-description {
    margin-bottom: 80px;
  }

  .dribbble-text {
    width: 75vw;
  }

  .photography-description {
    width: 100%;
  }

  .footer-menu-list {
    column-gap: 6vw;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 15px var(--padding-inline-480);
    background: url('./images/icons/menu-line.svg') 95% 50% no-repeat, url('./images/icons/menu-little-line.svg') 95% 70% no-repeat;
  }

  .header-menu-list {
    display: none;
  }

  .work-experience-companies {
    font-size: 32px;
  }

  .work-experience-list {
    flex-direction: column;
  }

  .philosophy {
    padding-left: 0;
  }

  .philosophy-body {
    flex-direction: column;
  }

  .philosophy-header {
    font-size: 32px;
    padding-top: 50px;
  }

  .philosophy-text {
    height: 450px;
  }

  .philosophy-image {
    width: 100vw;
    height: 450px;
  }

  .skillset-name-list {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 50px;
    row-gap: 45px;
  }

  .my-projects-header {
    font-size: 42px;
  }

  .instagram {
    padding-left: 0;
  }

  .instagram-body {
    flex-direction: column;
  }

  .instagram-header {
    font-size: 32px;
    padding-top: 50px;
  }

  .instagram-text {
    padding-inline: var(--padding-inline-480);
    height: 450px;
  }

  .instagram-image {
    width: 100vw;
    height: 450px;
  }

  .dribbble-image {
    height: 480px;
    object-fit: cover;
  }

  .people-say-wrapper {
    grid-template-columns: 1fr;
  }

  .people-say-text {
    margin-bottom: 60px;
  }

  .people-say-header {
    font-size: 32px;
  }

  .people-say-figure {
    padding-bottom: 60px;
  }

  .people-say-figcaption {
    padding: 20px;
  }

  .photography-header {
    font-size: 42px;
  }
  
  .countries-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .countries-item button {
    width: 100%;
  }
  
  .countries-image-wrapper {
    grid-template-columns: 1fr;
  }

  .let-started-wrapper {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .let-started-header {
    font-size: 42px;
  }

  .footer-navigation {
    flex-direction: column;
  }

  .soc1als-list {
    margin-bottom: 30px;
  }

  .footer-menu-list {
    grid-template-columns: 1fr;
  }
  
  .footer-copyright {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .header {
    padding-inline: var(--padding-inline-360);
  }

  .about-author-body {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  .about-author-image {
    width: 100vw;
    height: 288px;
  }

  .about-author-header {
    margin-left: 0;
    padding-inline: var(--padding-inline-360);
  }

  .about-author-header-biography {
    font-size: 32px;
  }

  .philosophy-text {
    padding-inline: var(--padding-inline-360);
  }

  .skillset-header {
    font-size: 32px;
  }

  .skillset-body {
    row-gap: 60px;
  }

  .my-projects-header {
    font-size: 32px;
  }

  .instagram-text {
    padding-inline: var(--padding-inline-360);
  }

  .dribbble-link {
    margin-bottom: 60px;
  }

  .people-say-figure {
    padding-bottom: 40px;
  }

  .photography-header {
    font-size: 32px;
  }

  .let-started-header {
    font-size: 32px;
  }
}